<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
  </solution>
  <config>
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="PowerFarming Nuget Cache" value="http://nuget-public.devinf.powerfarming.co.nz/api/cache/v3/index.json" protocolVersion="3" />
    <add key="PowerFarming Public Nuget" value="http://nuget-public.devinf.powerfarming.co.nz/api/v3/index.json" protocolVersion="3" />
    <add key="PowerFarming Nuget" value="https://nuget.powerfarming.co.nz/api/odata/" />
    <!-- <add key="Project GitHub" value="https://nuget.pkg.github.com/gjonespf/Cake.Recipe.PFBuild/index.json" /> -->
  </packageSources>
</configuration>
